*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .bg{
      height: 100%;
      width: 100%;
      background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/bg.jpg);
      background-position: center;
      background-size: cover;
      position: absolute; 
  }
  .form-box{
      width: 380px;
      height: 650px;
      position: relative;
      margin: 3% auto;
      margin-top: 2% auto;
      background: #fff;
      padding: 5px;
      overflow: hidden;
      left: 50px;
      border: 2px solid red;
  }
  
  .button{
      width: 220px;
      margin: 35px auto;
      position: relative;
      box-shadow: 0 0 20px #ff61241f;
      border-radius: 30px;
  }
  .toggle-btn{
      padding: 10px 30px;
      cursor: pointer;
      background: transparent;
      border: 0;
      outline: none;
      position: relative;
  
  }
  #btn{
      top: 0;
      left: 0;
      position: absolute;
      width: 110px;
      height: 100%;
      background: linear-gradient(to right, #ff105f,#ffad06);
      border-radius: 30px;
      transition: 0.5s;
      
  }
  .input-grp{
      margin: auto;
      position: absolute;
      width: 280px;
      transition: .5s;
  }
  
  
  .input-field{
      width: 100%;
      padding: 10px 0;
      margin: 5px auto;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-bottom: 1px solid #999;
      outline: none;
      background: transparent;
  }
  
  .more-padding-on-right {
      padding-right: 30px;
    }
    #gender{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #blood-grp{
      margin-top: 2%;
      margin-bottom: 2%;
      border: none;  
  }
  
  .submit-btn{
      width: 85%;
      padding: 10px 30px;
      cursor: pointer;
      display: block;
      margin: auto;
      background: linear-gradient(to right, #ff105f,#ffad06);
      outline: none;
      border-radius: 30px;
  }
  .checkbox{
      margin: 30px 10px 30px 0;
  }
  span{
      color: #777;
      font-size: 12px;
      bottom: 68px;
      position: absolute;
  
  }
  #login{
      left: 50px;
  }
  #register{
      left: 450px;
  }
  